.statistics {
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 100%;
  border: 1px solid #1a5f97;
  background: linear-gradient(90deg, cadetblue, #c5dde8);
  list-style: none;
}
.title {
  height: 300px;
  font-size: 20px;
  color: #155485;
  text-transform: uppercase;
  font-weight: 500;
}
.statList {
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  list-style: none;
}
.item {
  border-radius: 20%;
  width: 100px;
  border: 1px solid #1a5f97;
  display: block;
  text-align: center;
  cursor: pointer;
}

.item:hover,
.item:focus {
  box-shadow: 3px 3px 3px 3px #1a5f97;
}

.label {
  display: block;
}
